{% extends 'product/base.html' %}

{% block body %}
<div class="container text-center">
  <div class="card">
    <div class="card-body">
    <h2>Our Total Customers</h2>
    <p>{{ total_customers }}</p>
    </div>
  </div>
</div>
<div class="container">
<div class="row">
  <div class="col-md-4 ">
    <div class="text-center boxOfStatus">
      <h3>Total Orders </h3>
      <p>{{ total_orders }}</p>
    </div>
  </div>
  <div class="col-md-4 ">
    <div class="text-center boxOfStatus">
      <h3> Total Delivered</h3>
      <p>{{ deliverd }}</p>
    </div>
  </div>
  <div class="col-md-4 ">
    <div class="text-center boxOfStatus">
      <h3>Orders Pending </h3>
      <p>{{ pending }}</p>
    </div>
  </div>
</div>
</div>
<div class="bodyofhomepage">


<div class="container">

<div class="row">
  <div class="col-md-5">
    <h2>Customers</h2>
    <table class="table table-sm">
      <tr>

        <th>Customer of Name</th>
        <th>Email</th>
          <th>Details</th>
      </tr>

      {% for customer in customers %}
      <tr>
        <td>{{ customer.name }}</td>
        <td>{{ customer.email }}</td>
        <td><a href="{% url 'customers' customer.pk %}" class="btn btn-sm btn-primary">View</a></td>
      </tr>
      {% endfor %}
    </table>

  </div>

<div class="col-md-7">
  <h2>LAST 5 ODERS</h2>
  <table class="table table-sm">
    <tr>
      <th>Product</th>
      <th>Date of Odered</th>
      <th>Status</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
    {% for order in orders %}
    <tr>
      <td>{{ order.product.product_name }}</td>
      <td>{{ order.date_created }}</td>
      <td>{{ order.status }}</td>
      <td><a href="#" class="btn btn-sm btn-primary">Update</a></td>
      <td><a href="#" class="btn btn-sm btn-danger">Delete</a></td>
    </tr>
    {% endfor %}
  </table>
</div>


</div>
  </div>

</div>
{% endblock %}
