{% extends 'product/base.html' %}

{% block body %}
<div class="container">
  <div class="card">
    <div class="card-body text-center">
      <h2>Customer Management system</h2>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <table class="table">
      <tr>
        <th scope="col">Product Name</th>
        <th scope="col">Category</th>
        <th scope="col">Price</th>
      </tr>

     {% for product in products %}
        <tr>
          <td>{{ product.product_name }}</td>
          <td>{{ product.category }}</td>
          <td>{{ product.product_price }}</td>
        </tr>
     {% endfor %}
  </table>
    </div>
  </div>
</div>

{% endblock %}
